{% extends 'blog_app/base.html' %}
{% block body_content %}
<div class="post">
    <div class="post-header">
        <h2>{{post.title}}</h2>
        <h3>By: {{post.author}}</h3>
        {% if post.publish_date %}
        <p>Published on: {{post.publish_date|date:"d-m-y"}}</p>
        {% else %}
        <p>Created on: {{post.create_date|date:"d-m-y"}}</p>
        <a class="btn btn-warning btn-sm" href="{% url 'blog_app:post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
    </div>
    <div class="post-content">
        <p>{{post.text|safe|linebreaksbr}}</p>
    </div>
    {% if post.author == user %}
    <div class="post-links">
        <a class="btn btn-default" href="{% url 'blog_app:post_edit' pk=post.pk %}">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a class="btn btn-danger" href="{% url 'blog_app:post_delete' pk=post.pk %}">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
        <!-- <form method="POST" action="{% url 'blog_app:post_delete' pk=post.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
        </form> -->
    </div>
    {% endif %}
    {% if post.publish_date %}
    <div class="post-comments">
        <h3>Comments</h3>
        <div class="jumbotron">
            {% include 'blog_app/comment_form.html' %}
        </div>
        <div class="container-fluid">
            {% for comment in post.comments.all %}
                {% if post.author == user  or comment.approved %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{{comment.author}}</h4>
                    </div>
                    <div class="panel-body">
                        <p>{{comment.text|safe|linebreaksbr}}</p>
                    </div>
                    <div class="panel-footer">
                        <p>On: {{comment.create_date|date:"d-m-y"}}</p>
                        {% if not comment.approved %}
                        <a class="btn btn-warning btn-sm" href="{% url 'blog_app:comment_approve' pk=comment.pk %}">Approve</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'blog_app:comment_delete' pk=comment.pk %}">Delete</a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}